<!-- <!DOCTYPE html>-->

{% extends "layout.html" %}
{% block body_content %}
	<h1>Delete Page</h1>
	<p>Do you want to delete?</p>
	<div class="form">
                <form method="POST" action="">
                        {{ form.hidden_tag() }}
                         <div class="form-group">
                                {{ form.remember.label }}
                                {{ form.remember }}
                        </div>
                        <br>
                        <div class="form-group">
                                {{ form.submit }}
                        </div>
                </form>  
{% endblock body_content %}
