{% extends "layout.html" %}
{% block body_content %}
<h1>{{ current_user.first_name }} {{ current_user.last_name }} Update Page</h1>
        <p>Adjust the table here!</p>
        <div class="form">
                <form method="POST" action="">
                        {{ form.hidden_tag() }}
			<!-- Updating the table-->
                        <div class="form-group">
                        {{ form.englishh.label }}
                                {% if form.englishh.errors %}
                                        {{ form.englishh }}
                                        <div class="error">
                                                {% for error in form.englishh.errors %}
                                                        <span>{{ error }}</span>
                                                {% endfor %}
                                        </div>
                                {% else %}
                                        {{ form.englishh }}
                                {% endif %}
                        </div>
                        <br>
                        <div class="form-group">
                        {{ form.spanishh.label }}
                                {% if form.spanishh.errors %}
                                        {{ form.spanishh }}
                                        <div class="error">
                                                {% for error in form.spanishh.errors %}
                                                        <span>{{ error }}</span>
                                                {% endfor %}
                                        </div>
                                {% else %}
                                        {{ form.spanishh }}
                                {% endif %}
                        </div>
                        <br>
                        <div class="form-group">
                                {{ form.comment.label }}
                                {% if form.comment.errors %}
                                        {{ form.comment }}
                                        <div class="error">
                                                {% for error in form.comment.errors %}
                                                        <span>{{ error }}</span>
                                                {% endfor %}
                                        </div>
                                {% else %}
                                        {{ form.comment }}
                                {% endif %}
                        </div>
                        <br>
                        <div class="form-group">
                                {{ form.submit }}
                        </div>
                </form>
        </div>
{% endblock body_content %}
